

  /* Your existing CSS styles go here */

  /* Add this code to set the background image */
  body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTNQ6q3OAkgztd5p1VKkOo8SncqhUr5iz0qg&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Additional styles for the login page */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .login-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-container button:hover {
    background-color: #0056b3;
  }
